@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5a3399;
    color: white;
}


aside {
    width: 15%;
    max-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

main .meio {
    width: 100%;
    display: flex;
}

.topocima {
    display: flex;
    justify-content: space-between;
}

main .meio .esquerda {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .meio .direita {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
}

main .meio .esquerda .topocima {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .meio .esquerda .topocima .titulocima {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulotabela {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    background-color: white;
    padding: 1.8rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 12px;
}

table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid #cccccc;
}

.TotalSales {
    border: 1px solid rgb(245, 241, 241);
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}


.container .meio .esquerda .topocima .TotalSales .material-symbols-outlined {
    color: rgb(255, 255, 255);
}

.TotalSales>div {
    border: 1px solid white;
    height: 90%;
    width: 25%;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.bashboard span {
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Expenses span {
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Income span {
    background-color: rgb(125, 230, 93);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#ng {
    font-weight: bold;
}

.tm {
    font-size: 30px;
}
#lt {
    font-size: 10px;
    color: grey;
}
#lw {
    font-size: 12px;
    color: grey;
}
#dt
{
    color: #5a3399;
}

.nome_azul {
    color: blue;
}
.nome_laranja {
    color: #e77517;
}

.nome_vermelho {
    color: rgb(160, 10, 10);
}
.sales_analytics {
    display: flex;
    width: 95%;
    flex-direction: column;

 }

 .new {
    border: 1px solid white;
    display: flex;
    margin: auto 20px;
    justify-content: space-around;
    padding: 10px;
    font-size: 11px;
 }


.Messages {
    display: flex;
    align-items: center;
}

.messages{
    display: flex;
    gap: 10px;
    align-items: center;
}

.danger {
    background-color: rgb(247, 60, 60);
    color: white;
}

.conteudo{  
    gap: 80px;
    height: 100%;
    width: 100%;
}

aside .fim{
    height: 10%;
}

.Add_Product {
    display: flex;
    align-items: center;
}

.Add-Product {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black; 
}

.conteudo .a-hover:hover {
    background-color: #E1E3F0; 
}

.material-symbols-outlined {
    display: inline-block; 
    margin-right: 5px; 
}

.fim button {
    border: none;
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #F7F7F7;
}

img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

.recent_updates{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    gap: 10px;
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
}

.recent_updates .user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.recent_updates .user p{
    margin-left: 10px;
}

.new span {
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonfim button{
    display: flex;
    justify-content: center;
    width: 100% ;
    height: 50px;
    border-radius: 10px;
    background-color: #5a3399;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.meio .esquerda input {
    width: 120px;
}